@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 91 191 254;
    /* #5BBFFE */
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .custom-bg {
    @apply bg-background/20 border border-accent/30 border-solid backdrop-blur-[6px] shadow-glass-inset hover:shadow-glass-sm;
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}



/* Default styling for iframe */
.embed-link {
  width: 90%;
  height: 400px; /* Default height for desktop */
  border: 2px solid #d1d5db; /* Border gray-300 */
  border-radius: 8px;
}

/* Mobile styling */
@media (max-width: 768px) {
  .embed-link {
    width: 95%; /* Lebih kecil untuk layar mobile */
    height: 300px; /* Tinggi lebih pendek untuk layar kecil */
  }
}

/* Extra small screen (optional) */
@media (max-width: 480px) {
  .embed-link {
    height: 250px; /* Lebih kecil untuk layar sangat kecil */
  }
}